img{
width: inherit;
}
img:hover{
  border-radius: 25%
}

.sub1{
  border-style: dotted;
  padding: 2%;
  text-align: center;
  width:26%;
  margin: 1%;
}
.main{
  border-style: solid;
  display:flex;
  flex-wrap: wrap;

}
@media only screen and (max-width:450px){
  .main{
    border-style: solid;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
  }
}

@media screen and (min-width:750px) and (max-width:1050px){
  .main{
    border-style: solid;
    display:flex;
    flex-direction: column-reverse;
    flex-wrap:wrap;
    justify-content: space-between;
  }
}
